*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.search-container {
  margin-bottom: 30px;
}
.search-container h1 {
  margin-bottom: 30px;
}