*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.Home__search {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}