*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.post img{
  width: 100%;
}
